%h2 Log in form  

= form_tag find_path(@user), :method => :post do
	= label :user, :email, 'Email'
	= text_field :user, :email

	= label :user, :password, 'Password'
	= password_field :user, :password 
	
	= submit_tag 'Log in'