-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%h3 Reviews :
- if @movie.reviews.any?
  %ul
    - @movie.reviews.each do |r|
      %li #{r.potatoes}
- else
  %p No reviews yet!

%p#description= @movie.description

= link_to 'Edit info', edit_movie_path(@movie)
= link_to 'Delete', movie_path(@movie), :method => :delete
= link_to 'Back to movie list', movies_path
= link_to 'Add Review', new_movie_review_path(@movie)




