!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    #main
      #login
        - if @current_user
          %p.welcome  Welcome, #{session[:name]}!
          = link_to 'Log Out', '/logout'
        - else
          %p.login= link_to 'Log in with Twitter', '/auth/twitter'
          %p.login= link_to 'Log in', '/login'
          %p.login= link_to 'Sign up', '/signup'
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield

 
